body {
  background-image: url("/images/contact-us.jpg");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  z-index: -1;
  overflow-y: auto; /* Enable vertical scrolling */
}

.content h2 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.content h3 {
  margin-bottom: 10px;
  text-align: center;
}

.content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
}



.content a {
  display: block;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
}

.header {
  padding-top: 30px;
}

p {
  margin: 0;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.contact-info span {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}

.contact-info span img {
  filter: invert(1);
}

.contact-info span p {
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .content {
    padding: 50px 20px;
  }
  .content span {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    align-items: center;
  }
}
